<form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <input type="file" name="video" accept="image/*" />
    <input type="hidden" name="action" value="{{action}}" />
    <input type="hidden" name="video_id" value="{{video_id}}" />
    <input type="submit" />
</form>